.items-list {
    list-style: none;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 30px;
}

.item {
    padding: 10px 30px;
    margin: 15px 0;
    display: block;
    border-bottom: 2px solid #dcdde1;
    color: #0097e6;
    font-weight: bold;
    transition: border-bottom 0.5s, color 0.5s;
}

.item:hover {
    border-bottom: 2px solid #7f8fa6;
    cursor: pointer;
}

.item:active { border-bottom: 2px solid #f5f6fa; }